extends layout

block content
  .hero-section
    .container-manual.home-container
      .home-content
        h1 Welcome to Recipe Sharing Platform
        p Dive into an endless sea of mouth-watering recipes from around the globe, shared by a community of passionate cooks and culinary enthusiasts just like you. 
        p.home-requirement This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
        a.start-btn(href="/recipes") Start Reading
      .home-image 
        img.home-img(src="https://st3.depositphotos.com/13324256/17303/i/450/depositphotos_173034766-stock-photo-woman-writing-down-recipe.jpg")
