//- nav.container.navbar.navbar-expand-lg.navbar-light.bg-light
//-   a.navbar-brand(href="/") Recipe Sharing
//-   button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
//-     span.navbar-toggler-icon
//-   .collapse.navbar-collapse#navbarNav
//-     ul.navbar-nav
//-       li.nav-item
//-         a.nav-link(href="/recipes") Recipes
//-       li.nav-item
//-         a.btn.btn-primary(href="/recipes/new") Add Recipe
header
  nav.container-manual.nav-container 
    a.nav-logo(href="/") Recipe Sharing
    ul.nav-menu 
      li.nav-item 
        a.nav-link.nav-recipes(href="/recipes") Recipes
      li.nav-item 
        a.add-btn(href="/recipes/new") Add Recipe