.recipes-row {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.recipe-card {
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: #fff;
  border-radius: 10px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.card-body {
  padding-bottom: 10px;
}

.details-btn,
.filter-btn {
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}

.star-filled {
  color: gold;
  font-size: 25px;
}
.star-empty {
  color: #ccc;
  font-size: 25px;
}

.recipe-title {
  font-size: 18px;
  font-weight: 700;
}

.recipe-category {
  font-size: 18px;
  color: #423f3f;
}

@media (max-width: 1000px) {
  .recipes-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .recipes-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
