.recipe-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container {
  padding-right: 100px;
  padding-left: 100px;
}

.form-controllers {
  text-align: right;
}

#notificationContainer {
  display: none; /* Hidden by default */
  background-color: #28a745; /* Bootstrap success color */
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-right: 15px; /* Adjust based on your layout */
}

.show-notification {
  display: block; /* Show the container */
}